*/build-*
*/set_path_for_*
RHaPSODemo/RHaPSODemo
RHaPSODemo/RHaPSODemoD
RHaPSODemo/*.trace
RHaPSODemo/resources/recordings
RHaPSODemo/configfiles/rhapsodemo.ini
RHaPSODaemon/RHaPSODaemon
RHaPSODaemon/RHaPSODaemonD
RHaPSODaemon/*.trace
BROWSE
